.header {
    background-color: blue;
    text-align: center;
    color: white;
    font-family: Arial;
}

.button {
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color: black;
}

.wording {
    color:black;
}

.lasagna {
    
}